# ==========================================================
# Python
# ==========================================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environments
# ==========================================================
.venv/
venv/
env/
ENV/

# ==========================================================
# Secrets / Credentials
# ==========================================================
.env
.env.*
!.env.example

# ==========================================================
# IDEs
# ==========================================================
.vscode/
.idea/

# ==========================================================
# Python caches
# ==========================================================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

# ==========================================================
# Logs
# ==========================================================
*.log

# ==========================================================
# Data Lake
# ==========================================================

# Ignore everything inside Bronze...
data_lake/bronze/*

# ...except the placeholder file
!data_lake/bronze/.gitkeep

# Ignore everything inside Silver...
data_lake/silver/*

# ...except the placeholder file
!data_lake/silver/.gitkeep

# Keep Gold under version control
!data_lake/gold/
!data_lake/gold/*.parquet
!data_lake/gold/.gitkeep

# ==========================================================
# dbt
# ==========================================================
target/
dbt_packages/
logs/
# ==========================================================
# DuckDB
# ==========================================================
*.duckdb